<div class="container p-4 unselectable">
  <ul
    cols="4"
    *ngFor="let item of table; let i = index"
    id="item[i]"
    class="row"
  >
    <li
      *ngFor="let piece of item; let i = index"
      class="col-sm p-3; let i=index"
      (click)="isSelected ? move(piece, piece.x, piece.y) : click(piece)"
      id="{{ item + i }}"
    >
      <!-- <i class="fas fa-chess-bishop deneme"></i> -->
      <!-- <i ngClass="[ deneme == true ? 'fas fa-chess-bishop deneme' :''"></i> -->
      <!-- <p>{{ piece?.piece?.name }} {{ piece?.x }} {{ piece?.y }}</p> -->
      <i
        [ngClass]="[deneme === true ? 'fas fa-chess-' + piece.piece?.name + ' deneme': '', piece.piece?.white == true ? 'deneme1': '']"
      ></i>
    </li>
  </ul>
</div>
<div></div>
