<div class="container p-4 unselectable">
  <ul
    cols="4"
    *ngFor="let spot of table; let i = index"
    id="spot[i]"
    class="row"
  >
    <li
      *ngFor="let piece of spot; let i = index"
      [ngStyle]="{
        'background-color': getColor(piece) ? '#4A3C2F' : '#9C8671'
      }"
      (click)="isSelected ? move(piece.x, piece.y, piece) : click(piece)"
      id="{{ spot + i }}"
    >
      <i
        [ngClass]="[
          'fas fa-chess-' + piece.piece?.name + ' icon ',
          piece.piece?.white == true ? 'white-color' : '',
          piece == isSelected ? 'selected' : ''
        ]"
      ></i>
      <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">
            Please Choose a Piece
          </h4>
        </div>
        <div class="modal-body">
          <button
            class="modal-button"
            *ngFor="let spot of modalPieces; let i = index"
            (click)="changePawn(spot)"
          >
            <i
              [ngClass]="'fas fa-chess-' + spot.toLowerCase() + ' modalPieces'"
            ></i>
          </button>
        </div>
      </ng-template>
    </li>
  </ul>
</div>
<div class="gameOver" *ngIf="gameOver">
  <div class="gameOver gameOver2">
    <h1>Game Over</h1>
    <button class="restartGameBtn" (click)="restartGame()">Restart Game</button>
  </div>
</div>
