body {
  margin: 0px;
}

ul {
  box-shadow: -1px 1px 0 rgba(255, 255, 255, 0.471),
    1px 1px 0 rgba(255, 255, 255, 0.471), 1px -1px 0 rgba(255, 255, 255, 0.471),
    -1px -1px 0 rgba(255, 255, 255, 0.471);
  margin: 0;
  margin-left: calc(50% - 450px);
  padding: 0;
  max-width: max-content;
  li {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    list-style-type: none;
    width: 100px;
    height: 100px;
    background-color: black;

    p {
      color: #ccc;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.deneme3 {
  transition: all 0.2s;
  border: 2px dotted #ccc;
  border-radius: 30%;
  padding: 10px;
}
.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.deneme {
  cursor: pointer;
  font-size: 4rem;
  color: black;
  text-shadow: -1px 1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff,
    -1px -1px 0 #fff;
}

.deneme1 {
  cursor: pointer;
  font-size: 3.5rem;
  color: white;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}
.gameOver {
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  color: #eacccb;
  font-size: xx-large;
  h1 {
    color: black;
    text-shadow: -1px 1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff,
      -1px -1px 0 #fff;
    position: absolute;
    top: calc(50% - 75px);
    left: calc(50% - 100px);
  }
}

.borderClass {
  border-color: #eacccb;
}
.restartGameBtn {
  transition: all 0.2s;
  z-index: 25;
  border: 2px solid black;
  border-radius: 5px;
  background-color: transparent;
  position: absolute;
  color: black;
  width: max-content;
  left: calc(50% - 95px);
  top: calc(50%);
  &:hover {
    background-color: #000;
    color: #fff;
    border: 2px solid white;
  }
}
.gameOver2 {
  background-color: rgba(255, 255, 255, 0.39);
  z-index: 10;
  width: 100%;
  height: 100%;
  // top: 23%;
  // left: 26%;
  // position: absolute;
  color: #eacccb;
  border: none;
  border-radius: 30px;
  font-size: xx-large;
}
