body {
  margin: 0px;
}

ul {
  margin: 0;
  padding: 0;
  li {
    align-items: center;
    display: flex;
    justify-content: center;
    border: 1px solid #ccc;
    text-align: center;
    list-style-type: none;
    width: 100px;
    height: 100px;
    background-color: black;

    p {
      color: #ccc;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.deneme {
  color: blueviolet;
  font-size: xx-large;
}

.deneme1 {
  color: white;
  font-size: xx-large;
}
