<div class="container p-4 unselectable">
  <ul
    cols="4"
    *ngFor="let item of table; let i = index"
    id="item[i]"
    class="row"
  >
    <li
      *ngFor="let piece of item; let i = index"
      [ngStyle]="{
        'background-color': getColor(piece, item) ? '#9C8671' : '#4A3C2F'
      }"
      (click)="isSelected ? move(piece, piece.x, piece.y) : click(piece)"
      id="{{ item + i }}"
    >
      <!-- <i class="fas fa-chess-bishop deneme"></i> -->
      <!-- <i ngClass="[ deneme == true ? 'fas fa-chess-bishop deneme' :''"></i> -->
      <!-- <p>{{ piece?.piece?.name }} {{ piece?.x }} {{ piece?.y }}</p> -->
      <i
        [ngClass]="[
          deneme === true
            ? 'fas fa-chess-' + piece.piece?.name + ' deneme '
            : '',
          piece.piece?.white == true ? 'deneme1' : '',
          piece == isSelected ? 'deneme3' : ''
        ]"
      ></i>
    </li>
  </ul>
</div>
<div class="gameOver" *ngIf="gameOver">
  <div class="gameOver gameOver2">
    <h1>Game Over</h1>
    <button class="restartGameBtn" (click)="restartGame()">Restart Game</button>
  </div>
</div>
